.social-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin: 2rem 0;
}

.social-links > div {
  margin: 5px 2rem;
  cursor: pointer;
}
.social-links > button {
  margin: 0 0.5rem;
}
.share-count {
  text-align: center;
}
